/* Path thCbiii.github.io/styles.css */

body {
  font-family: Garamond, serif;
  text-align: center;
}

a {
    text-decoration: none;
    color: black;
  }

button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 15px 32px;
}

#clickCounter {
    padding: 10px;
}